@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
*, *::after, *::before {
  box-sizing: border-box;
}

html, body, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  font-family: "Public Sans", sans-serif;
  text-align: center;
}

body {
  --articles-padding: 1.75rem;
  --lime-cyan-background: linear-gradient(to right, $limeGreen, $brightCyan);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
}

#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  background-image: linear-gradient(hsl(233, 26%, 24%), hsla(233, 26%, 24%, 0.5));
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
  visibility: hidden;
  transition: 250ms;
}

img {
  display: block;
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

.header {
  position: fixed;
  background-color: hsl(0, 0%, 100%);
  z-index: 100;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-container {
  --header-padding: 1.25rem;
  display: flex;
  padding: var(--header-padding);
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header__navigation {
  background-color: hsl(0, 0%, 100%);
  top: calc(100% + var(--header-padding));
  left: 50%;
  transform: translateX(-50%);
  width: calc(100vw - var(--header-padding) * 2);
  position: absolute;
  padding: var(--header-padding);
  border-radius: 0.5rem;
  opacity: 0;
  transition: 250ms;
  visibility: hidden;
}

.navigation__menu {
  font-weight: 400;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu--option {
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  padding: calc(var(--header-padding) / 2);
  border-bottom: 3px solid transparent;
}

.menu--option:hover {
  font-weight: 700;
  cursor: pointer;
}

.menu--option::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-bottom: 3px solid transparent;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  transition: width 250ms;
}

.menu--option:hover::after {
  width: 100%;
}

.header__mobile-buttons {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 20px;
}

.header__mobile-buttons:hover {
  cursor: pointer;
}

.mobile-buttons--burger {
  z-index: 99;
}

.mobile-buttons--cross {
  opacity: 0;
  position: absolute;
  z-index: 99;
}

.header__request-button {
  display: none;
  font-size: 0.8rem;
}

.hero {
  display: flex;
  flex-direction: column;
  padding-bottom: calc(var(--articles-padding) * 2);
  overflow: hidden;
}

.hero-container {
  overflow: hidden;
}

.hero__proposition {
  padding: 1.75rem var(--articles-padding);
}

.proposition--headline {
  font-weight: 400;
  font-size: 2rem;
  color: hsl(233, 26%, 24%);
}

.proposition--text {
  padding: 1rem 0;
  font-size: 0.8rem;
  line-height: 1.3rem;
  font-weight: 400;
  color: hsl(233, 8%, 62%);
}

.proposition--request {
  margin: 0.5rem 0;
}

.button {
  background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  color: hsl(0, 0%, 98%);
  padding: 0.75rem 2rem;
  border-radius: 2rem;
  border: 0;
  text-transform: capitalize;
}

.button:hover {
  cursor: pointer;
  filter: brightness(115%);
}

.hero__media {
  background-image: url(images/bg-intro-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 20rem;
  z-index: -1;
}

.hero__media img {
  width: calc(100% - 2rem);
  position: absolute;
  bottom: 0;
}

.benefits-container {
  background-color: hsl(220, 14%, 96%);
}

.benefits {
  display: flex;
  flex-direction: column;
  padding: var(--articles-padding);
}

.benefits__header {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin: var(--articles-padding) 0;
}

.benefits__header--headline {
  font-weight: 400;
  font-size: 1.75rem;
  color: hsl(233, 26%, 24%);
}

.article--headline:hover {
  color: hsl(192, 70%, 51%);
  cursor: pointer;
}

.benefits__header--text {
  color: hsl(233, 8%, 62%);
  font-size: 0.8rem;
  line-height: 1.3rem;
}

.benefits__options {
  display: flex;
  flex-direction: column;
  margin: var(--articles-padding) 0;
  gap: var(--articles-padding);
}

.benefits__options--option {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.1rem;
}

.option__headline {
  font-weight: 400;
  color: hsl(233, 26%, 24%);
  font-size: 1rem;
}

.option__text {
  color: hsl(233, 8%, 62%);
  font-size: 0.8rem;
  line-height: 1.3rem;
}

.articles-container {
  background-color: hsl(0, 0%, 98%);
}

.articles {
  padding: calc(var(--articles-padding) * 2) var(--articles-padding);
}

.articles__headline {
  margin: var(--articles-padding) 0;
  font-weight: 400;
  font-size: 1.75rem;
}

.articles__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: var(--articles-padding);
}

.article {
  border-radius: 0.5rem;
  text-align: left;
  background-color: hsl(0, 0%, 100%);
  overflow: hidden;
}

.article--image {
  height: 200px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.article--info-container {
  padding: var(--articles-padding);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.article--author {
  font-size: 0.5rem;
  color: hsl(233, 8%, 62%);
}

.article--headline {
  font-weight: 400;
  font-size: 0.85rem;
  color: hsl(233, 26%, 24%);
}

.article--text {
  font-size: 0.65rem;
  line-height: 1rem;
  color: hsl(233, 8%, 62%);
}

.footer-content-container {
  width: 100%;
  max-width: 1150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--articles-padding);
  padding: 2.5rem var(--articles-padding);
}

.footer {
  background-color: hsl(233, 26%, 24%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__social-links {
  display: flex;
  gap: 0.75rem;
}

.footer__social-links img {
  width: 1.25rem;
}

.footer__social-links img:hover {
  filter: invert(65%) sepia(97%) saturate(1171%) hue-rotate(154deg) brightness(91%) contrast(87%);
  cursor: pointer;
}

.footer__navigation__menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 0.8rem;
  color: hsl(220, 14%, 96%);
}

.footer__menu--option:hover {
  color: hsl(192, 70%, 51%);
  cursor: pointer;
}

.footer__copyright {
  color: hsl(233, 8%, 62%);
  font-size: 0.8rem;
}

@media (min-width: 50rem) {
  .header {
    position: sticky;
  }
  .header-container {
    max-width: 1150px;
    padding: 0 var(--header-padding);
  }
  .header__navigation {
    position: static;
    opacity: 1;
    transform: none;
    width: auto;
    visibility: visible;
  }
  .navigation__menu {
    flex-direction: row;
  }
  .menu--option {
    color: hsl(233, 8%, 62%);
    font-size: 0.8rem;
  }
  .menu--option:hover {
    font-weight: 400;
    color: hsl(233, 26%, 24%);
    cursor: pointer;
  }
  .header__mobile-buttons {
    display: none;
  }
  .header__request-button {
    display: block;
  }
  .hero-container {
    flex-direction: row;
    background-image: url(images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-position: 50vw 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .hero {
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 1150px;
    height: 36rem;
  }
  .hero__media {
    background-image: none;
    z-index: 1;
    position: absolute;
    right: -9rem;
    top: 9rem;
    align-self: center;
    order: 1;
  }
  .hero__media img {
    position: static;
  }
  .hero__proposition {
    width: 45%;
    text-align: left;
  }
  .proposition--headline {
    font-size: 3rem;
  }
  .proposition--text {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .benefits-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .benefits {
    width: 100%;
    max-width: 1150px;
    align-items: flex-start;
    padding: calc(var(--articles-padding) * 2) var(--articles-padding);
  }
  .benefits__header {
    text-align: left;
    width: 60%;
  }
  .benefits__header--headline {
    font-size: 2rem;
  }
  .benefits__header--text {
    font-size: 1rem;
  }
  .benefits__options {
    flex-direction: row;
    text-align: left;
  }
  .benefits__options--option {
    align-items: flex-start;
  }
  .option__headline {
    text-align: left;
  }
  .articles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .articles {
    width: 100%;
    max-width: 1150px;
    text-align: left;
  }
  .articles__headline {
    font-size: 2rem;
    margin: 2.5rem 0;
  }
  .articles__content {
    flex-direction: row;
    gap: 1.5rem;
  }
  .article--image {
    height: 10rem;
  }
  .article--image img {
    max-width: none;
    width: 15rem;
  }
  .footer-content-container {
    height: 10rem;
    flex-direction: row;
    gap: 7rem;
  }
  .logo-links-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: flex-start;
  }
  .footer__navigation {
    height: 100%;
  }
  .footer__navigation__menu {
    flex-wrap: wrap;
    -moz-column-gap: 7rem;
         column-gap: 7rem;
    height: inherit;
  }
  .footer__menu--option {
    text-align: left;
  }
  .request-copyright-container {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1.5rem;
  }
}/*# sourceMappingURL=styles.css.map */