@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
*, *::after, *::before {
  box-sizing: border-box;
}

html, body, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: "Kumbh Sans", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: hsla(0, 0%, 0%, 0.5);
  display: none;
  z-index: 90;
  transition: 500ms;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem;
  position: sticky;
  top: 0;
  z-index: 91;
  background-color: hsl(0, 0%, 100%);
}

.header > div {
  display: flex;
  align-items: center;
}

.navigation__buttons {
  position: relative;
  display: flex;
  align-items: center;
}

.navigation__buttons--burger {
  z-index: 92;
  cursor: pointer;
}

.navigation__buttons--cross {
  visibility: hidden;
  position: absolute;
  z-index: 92;
  cursor: pointer;
}

.navigation__menu {
  --translateX: translateX(-100%);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 50%;
  height: 100vh;
  z-index: 91;
  background-color: hsl(0, 0%, 100%);
  transform: var(--translateX);
  transition: 500ms;
}

.menu__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-left: 1.5rem;
  margin-top: 5rem;
  padding: 0;
}

.menu__list--option {
  text-align: left;
  margin-top: 1.2rem;
  font-weight: 700;
  font-size: 1.1rem;
  border-bottom: 2px solid transparent;
  transition: 100ms;
  -webkit-text-decoration: underline solid hsla(0, 0%, 100%, 0) 3px;
          text-decoration: underline solid hsla(0, 0%, 100%, 0) 3px;
  text-underline-offset: 4px;
}

.menu__list--option:hover {
  -webkit-text-decoration: underline solid hsl(26, 100%, 55%) 3px;
          text-decoration: underline solid hsl(26, 100%, 55%) 3px;
  text-underline-offset: 4px;
  cursor: pointer;
}

.header__logo {
  margin-left: 1rem;
}

.header__cart {
  transition: 500ms;
}

.cart-icon-container {
  position: relative;
}

.cart-icon-container > img:hover,
.shoping__list--delete-icon:hover {
  filter: brightness(0%);
  cursor: pointer;
}

#cart-amount {
  width: 17px;
  border-radius: 6px;
  text-align: center;
  font-size: 9px;
  padding: 1px;
  background-color: hsl(26, 100%, 55%);
  font-weight: 700;
  color: #ffede0;
  position: absolute;
  top: -25%;
  right: -25%;
  visibility: hidden;
}

.cart__dropdown {
  --menu-margin: .5rem;
  --animation-slide: 1rem;
  width: calc(375px - var(--menu-margin) * 2);
  min-height: calc(270px - var(--menu-margin) * 2);
  position: absolute;
  top: calc(100% + var(--menu-margin) - var(--animation-slide));
  right: var(--menu-margin);
  background-color: hsl(0, 0%, 100%);
  z-index: 89;
  border-radius: 1rem;
  visibility: hidden;
  opacity: 0;
  transition: 500ms ease-in-out;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.cart__dropdown--header {
  text-align: left;
  font-size: 1rem;
  color: hsl(220, 13%, 13%);
  padding-bottom: 1.8rem;
  font-weight: 700;
  border-bottom: 1px solid hsla(0, 0%, 63%, 0.3);
}

.cart__dropdown--content {
  font-size: 1rem;
  font-weight: 700;
  color: hsl(219, 9%, 45%);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart__dropdown--content > p {
  text-align: center;
}

.content--shoping__list {
  flex: 1;
}

.shoping__list__option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.25rem 0;
}

.shoping__list--thumbnail img {
  border-radius: 0.2rem;
  width: 3.25rem;
}

.shoping__list--description {
  text-transform: capitalize;
  font-weight: 400;
  font-size: 1rem;
  line-height: 2rem;
}

.description__product--cost {
  text-transform: none;
}

.description__product--cost strong {
  font-weight: 700;
  color: hsl(220, 13%, 13%);
}

.header__avatar {
  margin-left: 1.3rem;
  width: 1.6rem;
  cursor: pointer;
  border-radius: 50%;
  border: 0.15rem solid transparent;
}

.header__avatar:hover {
  border: 0.15rem solid hsl(26, 100%, 55%);
}

.lightbox-view {
  display: none;
}

#lightbox-gallery__cross-icon img {
  width: 1.25rem;
  margin-left: auto;
  filter: brightness(0) invert(1);
  cursor: pointer;
}

.image-slider {
  display: flex;
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.slider__slides {
  display: flex;
  width: 100%;
  z-index: 89;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(140, 172, 134);
  display: flex;
  align-items: center;
  transition: 0.6s;
}

.buttons-container {
  position: absolute;
  align-self: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 89;
}

.slider__button--previous,
.slider__button--next {
  background-color: hsl(0, 0%, 100%);
  margin: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  cursor: pointer;
}

.slider__button--previous img,
.slider__button--next img {
  width: 0.6rem;
}

.thumbnails-navigation {
  display: none;
}

.thumbnails-navigation__thumbnail {
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  border: 3px solid transparent;
}

.thumbnails-navigation__thumbnail .background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: hsl(0, 0%, 100%);
  z-index: -1;
}

.chosen {
  border: 3px solid hsl(26, 100%, 55%);
}

.chosen img {
  opacity: 0.5;
}

.thumbnails-navigation__thumbnail img:hover {
  opacity: 0.5;
  cursor: pointer;
}

.product-card {
  display: flex;
  flex-direction: column;
  padding: 1.4rem 1.5rem;
}

.product--company {
  color: hsl(26, 100%, 55%);
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  opacity: 0.9;
}

.product--name {
  color: hsl(220, 13%, 13%);
  margin-top: 1rem;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.95rem;
  text-transform: capitalize;
}

.product--info {
  font-size: 0.95rem;
  line-height: 1.5rem;
  margin-top: 1rem;
  color: hsl(219, 9%, 45%);
}

.product--price {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
}

.current-price {
  font-weight: 700;
  font-size: 1.75rem;
  color: hsl(220, 13%, 13%);
}

.discount {
  margin-left: 1rem;
  background-color: #ffede0;
  color: hsl(26, 100%, 55%);
  font-weight: 700;
  padding: 0.15rem 0.5rem;
  border-radius: 0.3rem;
}

.product--price :last-child {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.product--price :first-child {
  display: flex;
  align-items: center;
}

.old-price {
  font-size: 1rem;
  text-align: right;
  color: hsl(220, 14%, 75%);
  letter-spacing: 0.05rem;
  font-weight: 700;
  position: relative;
}

.old-price:before {
  content: "";
  height: 0.3em;
  width: 3.9em;
  position: absolute;
  border-bottom: 1px solid hsl(220, 14%, 75%);
}

.product--addingbox {
  margin-top: 1.6rem;
}

.addingbox__amount {
  display: flex;
  background-color: hsl(223, 64%, 98%);
  align-items: center;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.amount--field {
  flex: 1;
  text-align: center;
  font-weight: 700;
}

.add-image,
.remove-image {
  height: 100%;
  background: none;
  border: 0;
  cursor: pointer;
}

.button {
  border: 0;
  background-color: hsl(26, 100%, 55%);
  display: flex;
  width: 100%;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: 0 10px 20px 2px hsla(26, 100%, 55%, 0.4);
}

.addingbox__add-button:hover,
.add-image:hover,
.remove-image:hover {
  opacity: 0.75;
}

.add-button--image {
  filter: brightness(0%) invert(96%) sepia(92%) saturate(294%) hue-rotate(299deg) brightness(99%) contrast(104%);
}

.button p {
  color: #ffede0;
  font-weight: 700;
  font-size: 0.95rem;
  margin-left: 0.75rem;
}

@media (min-width: 700px) {
  html {
    font-size: 18px;
  }
  body {
    max-width: 1115px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .header {
    border-bottom: 1px solid hsl(220, 14%, 75%);
  }
  .navigation__buttons {
    display: none;
  }
  .navigation__menu {
    position: static;
    height: auto;
    transform: none;
    transition: none;
  }
  .header__navigation {
    order: 2;
    margin-left: 2rem;
  }
  .header__logo {
    align-self: flex-start;
    margin: 0;
  }
  .menu__list {
    flex-direction: row;
    margin: 0;
    gap: 1.5rem;
  }
  .menu__list--option {
    margin: 0;
    font-weight: 400;
    font-size: 0.8rem;
    color: hsla(0, 0%, 0%, 0.75);
  }
  .header__avatar {
    width: 2.8rem;
    margin-left: 2.1rem;
  }
  .shoping__list--description {
    font-size: 0.8rem;
    line-height: 1.4rem;
  }
  .cart__dropdown--header {
    font-size: 0.8rem;
  }
  .cart__dropdown--content p {
    font-size: 0.8rem;
  }
  .shoping__list--thumbnail {
    width: 2.5rem;
  }
  .button {
    padding: 1rem;
  }
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 0 2rem;
    gap: 5rem;
  }
  .gallery-container,
  .product-card {
    width: 100%;
  }
  .gallery-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .lightbox-view {
    width: 65vh;
    display: none;
    z-index: 100;
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
  }
  .image-slider {
    border-radius: 1rem;
    height: auto;
    aspect-ratio: 1/1;
  }
  .buttons-container {
    display: none;
  }
  .thumbnails-navigation {
    display: flex;
    justify-content: space-between;
    gap: 1.3rem;
  }
  .product--company {
    font-size: 0.6rem;
  }
  .product--name {
    font-size: 2.3rem;
    line-height: 2.3rem;
  }
  .product--info {
    margin-top: 1.75rem;
    font-size: 0.8rem;
    line-height: 1.3rem;
  }
  .product--price {
    flex-direction: column;
    align-items: flex-start;
  }
  .current-price {
    font-size: 1.5rem;
  }
  .discount {
    font-size: 0.8rem;
  }
  .old-price {
    font-size: 0.8rem;
  }
}
@media (min-width: 1300px) {
  html {
    font-size: 20px;
  }
  .header {
    padding-left: 0;
    padding-right: 0;
  }
  .header__navigation {
    margin-left: 2.75rem;
  }
  .cart__dropdown {
    --menu-margin:1rem;
    --animation-slide: 1rem;
    width: 375px;
    position: absolute;
    top: calc(100% - var(--menu-margin) - var(--animation-slide));
    right: calc(0rem - (var(--menu-margin)) * 4);
    border-radius: 1rem;
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    box-shadow: 0px 2.5px 6px -9px rgba(0, 0, 0, 0.022), 0px 6px 12.4px -9px rgba(0, 0, 0, 0.025), 0px 10.8px 19.2px -9px rgba(0, 0, 0, 0.026), 0px 17.4px 26.7px -9px rgba(0, 0, 0, 0.03), 0px 25.2px 35.4px -9px rgba(0, 0, 0, 0.043), 0px 30px 51px -9px rgba(0, 0, 0, 0.12);
  }
  .product--addingbox {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  .addingbox__amount {
    width: 8rem;
    font-size: 0.8rem;
    margin: 0;
  }
  .addingbox__add-button {
    flex: 1;
  }
  .button p {
    font-size: 0.75rem;
  }
}/*# sourceMappingURL=styles.css.map */