@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
*, *::after, *::before {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

html, body, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font-size: 16px;
}

img {
  display: block;
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

.card {
  --card-padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: hsl(217, 100%, 97%);
  width: 100%;
  min-height: 550px;
  height: 100dvh;
  position: relative;
}

.paging {
  background-image: url("./assets/images/bg-sidebar-mobile.svg");
  background-size: cover;
  height: 172px;
  padding: 2rem;
}

.paging__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.list__option {
  background-color: transparent;
}

.list__option--button {
  --circle-button-diameter: 2.1rem;
  width: var(--circle-button-diameter);
  height: var(--circle-button-diameter);
  border-radius: 50%;
  border: 1px solid hsl(0, 0%, 100%);
  outline: 0;
  background-color: transparent;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-size: 1rem;
}

.list__option--button:hover {
  color: hsl(213, 96%, 18%);
  background-color: hsl(206, 94%, 87%);
  border-color: hsl(206, 94%, 87%);
}

.button--active {
  color: hsl(213, 96%, 18%);
  background-color: hsl(206, 94%, 87%);
  border-color: hsl(206, 94%, 87%);
}

.list__option--header {
  display: none;
  text-transform: uppercase;
  color: hsl(231, 11%, 63%);
  font-weight: 400;
  font-size: 0.7rem;
}

.list__option--text {
  display: none;
  color: hsl(231, 100%, 99%);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.85rem;
  letter-spacing: 0.1rem;
}

.formsbuttons-wrapper {
  display: flex;
  flex-direction: column;
}

.forms {
  background-color: hsl(0, 0%, 100%);
  width: calc(100% - var(--card-padding) * 2);
  align-self: center;
  border-radius: 1rem;
  padding: calc(var(--card-padding) * 1.5);
  position: absolute;
  top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-header {
  font-size: 1.5rem;
  color: hsl(213, 96%, 18%);
}

.form-info {
  line-height: 1.5rem;
  color: hsl(231, 11%, 63%);
}

.form-fields {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  max-width: 20rem;
}

.label-wrapper {
  display: flex;
  justify-content: space-between;
}

.field--label {
  text-transform: capitalize;
  font-size: 0.8rem;
  color: hsl(213, 96%, 18%);
  font-weight: 500;
}

.input-error {
  color: hsl(354, 84%, 57%);
  font-size: 0.8rem;
  font-weight: 700;
}

.field--input {
  border: 1px hsl(229, 24%, 87%) solid;
  border-radius: 0.5rem;
  padding: 0.65rem 1rem;
  font-size: 1rem;
  outline: 0;
  font-weight: 700;
  color: hsl(213, 96%, 18%);
}

.input-active {
  border: 1px solid hsl(213, 96%, 18%);
}

.input-empty {
  border: 1px solid hsl(354, 84%, 57%);
}

.field--input::-moz-placeholder {
  color: hsl(231, 11%, 63%);
  font-weight: 500;
}

.field--input::placeholder {
  color: hsl(231, 11%, 63%);
  font-weight: 500;
}

.form-fields__option {
  border: 1px hsl(229, 24%, 87%) solid;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: var(--card-padding);
}

.form-fields__option:hover {
  border: 1px hsl(213, 96%, 18%) solid;
}

.form-fields__option:has(input:checked) {
  border: 1px solid hsl(213, 96%, 18%);
  background-color: hsl(217, 100%, 97%);
}

.form-fields__option[checked=true] {
  border: 1px solid hsl(213, 96%, 18%);
  background-color: hsl(217, 100%, 97%);
}

.option--text--bonus {
  display: block;
  color: hsl(213, 96%, 18%);
  height: 1rem;
}

.add-on--cost {
  margin-left: auto;
  color: hsl(243, 100%, 62%);
}

.form-fields__option-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.forms:has(.form[data-page="5"]) {
  justify-content: center;
}

.option--name {
  font-size: 0.95rem;
  color: hsl(213, 96%, 18%);
}

.option--text {
  color: hsl(231, 11%, 63%);
  font-size: 500;
  font-size: 0.8rem;
  line-height: 1.2rem;
}

.checkbox-wrapper {
  --checkbox-width: 1.4rem;
  width: var(--checkbox-width);
  height: var(--checkbox-width);
  position: relative;
  border: 1px solid hsl(229, 24%, 87%);
  border-radius: 0.3rem;
  overflow: hidden;
}

.checkbox {
  opacity: 0;
  width: inherit;
  height: inherit;
  margin: 0;
}

.checkmark {
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
}

.checkmark::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 12px;
  top: 10%;
  left: 30%;
  background-color: transparent;
  transform: rotate(45deg);
  border: solid hsl(0, 0%, 100%);
  border-width: 0 2px 2px 0;
}

.checkbox-wrapper input:checked + .checkmark {
  background-color: hsl(243, 100%, 62%);
  border: 1px solid hsl(243, 100%, 62%);
}

.textbox {
  font-size: 2rem;
}

.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  text-transform: capitalize;
  background-color: hsla(217, 100%, 97%, 0.75);
  padding: 1rem;
  border-radius: 0.5rem;
}

.monthly {
  color: hsl(231, 11%, 63%);
  font-size: 0.95rem;
}

.yearly {
  color: hsl(231, 11%, 63%);
  font-size: 0.95rem;
}

.sub-chosen {
  color: hsl(213, 96%, 18%);
}

.toggle--button {
  --button-width: 3rem;
  background-color: hsl(213, 96%, 18%);
  border: 0;
  outline: 0;
  padding: calc(var(--button-width) * 0.1);
  border-radius: calc(var(--button-width) * 0.3);
  width: var(--button-width);
}

.button-circle {
  width: calc(var(--button-width) * 0.3);
  height: calc(var(--button-width) * 0.3);
  background-color: hsl(0, 0%, 100%);
  border-radius: 50%;
  transition: transform 250ms;
}

.toggled {
  transform: translateX(calc(var(--button-width) * 0.5));
}

.forms__cashout-wrapper {
  padding: 1rem;
  background-color: hsla(217, 100%, 97%, 0.5);
  border-radius: 1rem;
}

.forms__cashout-position {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0;
}

.forms__cashout-position span {
  display: block;
}

.cashout-position--header {
  color: hsl(231, 11%, 63%);
  font-size: 0.9rem;
  font-weight: 400;
  text-transform: capitalize;
}

.forms__cashout-position:first-child .cashout-position--header,
.forms__cashout-position:first-child .cashout-position--text {
  font-weight: 700;
  color: hsl(213, 96%, 18%);
}

.forms__cashout-position.total {
  padding: 0 1rem;
}

.forms__cashout-position.total .cashout-position--text {
  font-weight: 700;
  color: hsl(243, 100%, 62%);
  font-size: 1rem;
}

.cashout-position--change {
  margin-top: 0.25rem;
  color: hsl(231, 11%, 63%);
  font-weight: 400;
  text-decoration: underline;
}

.cashout-position--text {
  font-weight: 400;
  font-size: 0.9rem;
  color: hsl(213, 96%, 18%);
}

.form[data-page="5"] {
  align-items: center;
  text-align: center;
  padding: 3.5rem 0rem;
}

.form[data-page="5"] .form-header {
  font-weight: 700;
}

.final-logo {
  width: 3.5rem;
}

.step-buttons {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: calc(var(--card-padding) * 1.5);
  background-color: hsl(0, 0%, 100%);
}

.step-buttons--back {
  background: transparent;
  border: 0;
  font-weight: 500;
  color: hsl(231, 11%, 63%);
  font-size: 0.9rem;
}

.step-buttons--next {
  background-color: hsl(213, 96%, 18%);
  color: hsl(217, 100%, 97%);
  font-size: 0.9rem;
  font-weight: 500;
  border: 0;
  border-radius: 0.25rem;
  padding: 0.75rem 1.5rem;
  margin-left: auto;
  width: 8rem;
}

.step-buttons--next:hover {
  opacity: 0.75;
}

.step-buttons--back:hover {
  color: hsl(213, 96%, 18%);
}

.button-confirm {
  background-color: hsl(243, 100%, 62%);
}

.field--label:hover,
.field--input:hover,
.step-buttons--back:hover,
.step-buttons--next:hover,
.form-:hover,
.form-fields__option:hover,
label:hover,
.cashout-position--change:hover {
  cursor: pointer;
}

@media (min-width: 625px) {
  .multiform {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(217, 100%, 97%);
    height: 100vh;
  }
  .card {
    flex-direction: row;
    justify-content: flex-start;
    background-color: hsl(0, 0%, 100%);
    max-width: 59rem;
    width: calc(100% - 2rem);
    padding: var(--card-padding);
    border-radius: 0.5rem;
    height: auto;
  }
  .paging {
    background-image: url(./assets/images/bg-sidebar-desktop.svg);
    height: 568px;
    background-position: center center;
    border-radius: 0.5rem;
    min-width: 14rem;
    width: 30%;
  }
  .paging__list {
    flex-direction: column;
    align-items: flex-start;
  }
  .steps-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .list__option {
    display: flex;
    gap: 1rem;
  }
  .list__option--header {
    display: block;
  }
  .list__option--text {
    display: block;
  }
  .formsbuttons-wrapper {
    justify-content: space-between;
    flex: 1;
  }
  .forms {
    position: static;
    width: 100%;
    height: 100%;
  }
  .form[data-page="2"] .form-fields {
    flex-direction: row;
  }
  .field {
    max-width: 100%;
  }
  .field--input {
    max-width: 100%;
  }
  .form[data-page="2"] .form-fields__option {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    gap: 3rem;
  }
  .step-buttons {
    position: static;
    width: 100%;
  }
  .form[data-page="5"] {
    padding: 0;
  }
}
@media (min-width: 900px) {
  .paging {
    height: 568px;
  }
  .forms {
    padding: 2rem;
  }
  .form-header {
    font-size: 2.25rem;
  }
  .form-fields {
    gap: 1.5rem;
  }
  .card {
    gap: 5rem;
  }
}/*# sourceMappingURL=styles.css.map */